body{
    background-image: linear-gradient(white, rgb(152, 152, 152));
    margin: 0; /* Убрать отступы по умолчанию */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Чтобы центрировать по вертикали на всю высоту окна */
}
.cont{
    width: 800px;
    padding: 20px;
    background-color: white;
}

table{
    border: 2px solid;
    border-color: darkblue;
    margin: 5px;
    padding:10px
}
td, th {
    border: 1px solid;
    border-color: rgb(0,0,139);
  }

tbody img{
    width:3.5mm;
    height: auto;
    filter: grayscale();
}

tr:hover{
    background-color: #00FFFF ;
}

li>ul{
    display: none;
}

li:hover > ul{
    display: block;
}

address a:link{
    color:chartreuse
}

a:visited{
    color:darkgoldenrod
}

#film-list{
    color:red;
}

h2+p{
    background-color: rgba(159, 210, 255, 0.267);
}

ul li ul li::first-letter{
    color: darkgoldenrod
}

h1{
    text-decoration: underline;
}

button{
    background-color: rgb(48, 52, 38);
    padding: 10px;
    color:cyan;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(67, 67, 67);
}
input{
    width:150px;
}


